<!DOCTYPE html>
<html>
  <head>
    <title>Kitaab</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body  style="background-color:lightgrey;">
      <font size="20"><h1 align="center">Kitaab</h1></font><br><br>
      <h1 align= "center" >Know which book could be your best read</h1><br>
      <h2 align = "center" ><a href="/login">Have an account?</a></h2>
      <h2 align = "center"><a href= "/signup">Create an account</a></h2>
    <script src="/routes/index.js"></script>
  </body>
</html>
