<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='/stylesheets/review.css' />
    </head>
    <body>
        <div id = "sidebar">
            <div class = "toggle-btn" onclick="togglesidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li>Home</li>
                <li>Fiction</li>
                <li>Autobiography</li>
                <li>Poetry</li>
                <li>Adventure</li>
            </ul>
        </div>
        <script src="javascripts/review.js"></script>
    </body>
</html>